.ocd2-tgle-btn {
  border: none;
  background: #f5f8ff;
  border: 1px solid #c6d7ff;
  border-radius: 10px;
  height: 50px;
}

.ocd2-inputs-head {
  width: 520px !important;
  margin: auto;
}
.ocd2-inputs {
  border: none;
  background: #f5f8ff;
  height: 50px;
  border: 1px solid #c6d7ff;
  border-radius: 10px;
}
.ocd2-btm {
  position: relative;
}
.oct2-btm-btn-nxt {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 70%;
  top: 120%;
}

@media (max-width: 992px) {
  .oct2-btm-btn-nxt {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 20%;
    top: 120%;
  }
}

@media (max-width: 538px) {
  .ocd2-inputs-head {
    width: 320px !important;
  }

  .ocd2-inputs {
    border: none;
    background: #f5f8ff;
    height: 50px;
    border: 1px solid #c6d7ff;
    border-radius: 10px;
  }
}
